// SUSY
// @include border-box-sizing();

.container {
	@include container; // susy mixin
}
.span--full {
	@include reset-columns;
	clear: both;
	padding-top: $base-spacing-unit;
	padding-bottom: $base-spacing-unit;
}
.span--third {
	@include span-columns(1,3);
}
.span--twothird {
	@include span-columns(2,3);
}
.span--half {
	@include span-columns(2,4);
}
.pre--1 {
	@include pre(1);
}
.omega {
	@include omega;
}
@media (max-width: $bp2) {
	[class^="span--"],
	[class*=" span--"],
	[class*=" pre--"],
	[class^="pre--"] {
		float: none;
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
	.omega {
		float: none;
	}
}


.page-header {
	// border-bottom: 1px solid $border-color;
	// background: transparent url(../img/crafts.jpg) no-repeat 50% top;
	// -webkit-background-size: cover;
	// background-size: cover;
	// height: 900px;
	color: $white;
	h1 {
		@include span-columns(1, $total-columns);
		line-height: $base-line-height;
		margin: 0;
		@media (max-width: $bp1) {
			margin-top: .4em;
			margin-bottom: .4em;
			float: none;
			width: auto;
		}
		span {
			font-size: 0;
		}
	}
}

.hero-unit {
	// @include pre(1);
	// @media (max-width: $bp2) {
	// 	margin-left: 0;
	// }
}

section,
.page-footer {
	margin: {
		top: 2em;
		bottom: 2em;
	}
	@include pie-clearfix;
}

.home {
	section {
		h2 {
			// @include pre(1);
			// @media (max-width: $bp2) {
			// 	margin-left: 0;
			// }
		}
	}
}


.vcard__item {
	display: block;
}

.back-to-top {
	text-transform: uppercase;
}
