<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{ page.title }} @{% endif %} Diezjietal &#x272D; Gregory Van Looy</title>
	<meta name="description" content="Diezjietal is a freelance web designer and front-end developer">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="cleartype" content="on">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="freelance, front-end dev, consultant, HTML, CSS, Sass, Grunt, workflow, HTML5, CSS3, Belgium, responsive, adaptive">
	<link rel="stylesheet" href="/css/main.css">
	<script src="/js/src/modernizr.min.js"></script>
</head>
<body itemscope itemtype="http://schema.org/{% if page.url contains 'blog' %}Blog{% else %}WebPage{% endif %}" class="{% if page.url contains 'projects' %}projects{% elsif page.url contains 'blog' %}blog{% else %}home{% endif %}">
