.archive-list {
	list-style: none;
	li {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.article--teaser {
		.article__meta {
			// @include span-columns(1,3);
			text-align: right;
			padding-top: 0.5em;
		}
		.article__body {
			font-size: 1.5em;
			// @include span-columns(2 omega, 3);
		}
	}
	@media (max-width: $bp2) {
		padding-left: 0;
		.article--teaser {
			.article__meta {
				text-align: left;
				padding-top: 0;
			}
			.article__meta,
			.article__body {
				float: none;
				width: auto;
			}
		}
	}

}
