
article {
	@include pie-clearfix;
}

.article--teaser {
	.article__body {
		@include span-columns(1 omega,$total-columns);
	}
	figure {
		@include span-columns(2,$total-columns);
	}
	@media (max-width: $bp2) {
		.article__body,
		figure {
			float: none;
			width: auto;
		}
	}

}

.article--full {
	.article__meta {
		text-align: right;
		@include span-columns(1,$total-columns);
			padding-top: 59px;
		dl {
			margin-top: 0;
		}
	}
	h1 {
		@include span-columns(2 omega,$total-columns);
	}
	.article__body {
		@include pre(1);
		@include span-columns(2 omega,$total-columns);
		text-align: justify;
		&.no--pre {
			margin-left: 0;
		}
	}
	.intro {
		font-size: $h4-size;
		font-style: italic;
	}
	figure {
		clear: both;
	}
	@media (max-width: $bp2) {
		.article__meta,
		h1,
		.article__body {
			width: auto;
			float: none;
			margin-left: 0;
		}
		.article__meta {
			text-align: left;
			padding-top: 0;
			margin-bottom: 1em;
		}
		h1 {
			margin-top: 0;
		}
	}
}