.bg-color--blue {
	background-color: $primary-color;
	color: $white;
}
.bg-color--green {
	background-color: $secondary-color;
	color: $black;
}
.bg-color--red {
	background-color: fireBrick;
	color: $white;
}
.bg-color--violet {
	background-color: violet;
	color: $white;
}
