.nav {
	// @include span-columns(2 omega, $total-columns);
	font-family: $helvetica;
	ul {
		@include pie-clearfix;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		// @include span-columns(1, ($total-columns - 1));
		padding-top: 1.1em;
		font-size: 1.5em;
		font-weight: bold;
		line-height: 1;
		text-transform: uppercase;
		&.current {
			a {
				color: $black;
			}
		}
		&.last {
			// @include omega;
		}
		@media (max-width: $bp2) {
			padding-top: 2.65em;
		}
	}
	a {
		color: darken($bg-color, 40%);
		text-decoration: none;
		border: none;
		&:focus,
		&:hover {
			color: $white !important;
			// border-bottom: 1px solid $link-color;
		}
	}
	@media (max-width: $bp1) {
		float: none;
		width: auto;
		ul {
			margin-bottom: 1em;
			padding-top: 1em;
			border-bottom: 1px solid $border-color;
			border-top: 1px solid $border-color;
		}
		li {
			padding-top: 0;
			width: auto;
			&.last {
				float: left;
			}
		}
		a {
			display: block;
			padding-bottom: .5em;
		}
	}
}

.identity {
	float: left;
	margin: 0;
	a {
		color: $headings-color;
	}
}
